<a href="https://colab.research.google.com/github/vidjaydas/Data_Science_Python/blob/main/Confidence_Interval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
from scipy import stats
import numpy as np

In [13]:
glaxo_df = pd.read_csv('/content/glaxo_df.csv')

In [14]:
glaxo_df.head()

         Date      Date.1    Close      gain
0  2010-01-05  2010-01-05  1616.80 -0.005444
1  2010-01-06  2010-01-06  1638.50  0.013422
2  2010-01-07  2010-01-07  1648.70  0.006225
3  2010-01-08  2010-01-08  1639.80 -0.005398
4  2010-01-11  2010-01-11  1629.45 -0.006312

##finding the confidence interval of the data set for 95%  interval.

In [15]:
  glaxo_df_ci = stats.norm.interval(0.95,
  loc = glaxo_df.gain.mean(),
  scale = glaxo_df.gain.std())
  print( 'Gain at 95% confidence interval is: ', np.round(glaxo_df_ci, 4))

Gain at 95% confidence interval is:  [-0.0258  0.0266]

In [18]:
beml_df = pd.read_csv("/content/beml_df.csv")

beml_df_ci = stats.norm.interval(0.95,
loc = beml_df.gain.mean(),
scale = beml_df.gain.std())
print(np.round(beml_df_ci,4))

[-0.0515  0.0521]