<a href="https://colab.research.google.com/github/vidjaydas/Data_Science_Python/blob/main/Web_Scraping_Amazon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install autoscraper

Collecting autoscraper
  Downloading autoscraper-1.1.12-py3-none-any.whl (10 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from autoscraper) (2.23.0)
Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (from autoscraper) (0.0.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from autoscraper) (4.2.6)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4->autoscraper) (4.6.3)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->autoscraper) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->autoscraper) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->autoscraper) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->autoscraper) (2021.5.30)
Installing collected packages: autoscraper
Successfully installed autoscraper-1.1.12

In [18]:
from autoscraper import AutoScraper

url = "https://www.amazon.in/s?k=iphone&ref=nb_sb_noss_2"

wanted_list = ['New Apple iPhone 11 (64GB) - Black', "₹49,900"]

scraper = AutoScraper()
result = scraper.build(url, wanted_list)
print(result)

['New Apple iPhone 11 (64GB) - Black', 'New Apple iPhone 12 (128GB) - Blue', 'New Apple iPhone 12 (128GB) - Black', 'New Apple iPhone 12 Pro Max (128GB) - Pacific Blue', 'New Apple iPhone 11 (64GB) - White', 'New Apple iPhone 12 (64GB) - Black', 'New Apple iPhone 11 (64GB) - Purple', 'New Apple iPhone 11 (128GB) - White', 'New Apple iPhone 12 (128GB) - Purple', 'New Apple iPhone 11 (64GB) - (Product) RED', 'Apple iPhone 13 (256GB) - Midnight', 'New Apple iPhone 12 (64GB) - Blue', 'New Apple iPhone 11 (64GB) - Green', 'New Apple iPhone 11 (128GB) - (Product) RED', 'New Apple iPhone 12 (64GB) - White', '₹49,900', '₹54,900', '₹68,999', '₹84,900', '₹1,09,999', '₹1,29,900', '₹63,999', '₹79,900', '₹59,900', '₹70,900', '₹89,900']

In [19]:
scraper.get_result_similar(url, grouped=True)

{'rule_359f': ['₹49,900',
  '₹54,900',
  '₹68,999',
  '₹84,900',
  '₹68,999',
  '₹84,900',
  '₹1,09,999',
  '₹1,29,900',
  '₹49,900',
  '₹54,900',
  '₹63,999',
  '₹79,900',
  '₹49,900',
  '₹54,900',
  '₹54,900',
  '₹59,900',
  '₹70,900',
  '₹84,900',
  '₹49,900',
  '₹54,900',
  '₹89,900',
  '₹63,999',
  '₹79,900',
  '₹49,900',
  '₹54,900',
  '₹54,900',
  '₹59,900',
  '₹63,999',
  '₹79,900'],
 'rule_3qgo': ['₹49,900',
  '₹54,900',
  '₹68,999',
  '₹84,900',
  '₹68,999',
  '₹84,900',
  '₹1,09,999',
  '₹1,29,900',
  '₹49,900',
  '₹54,900',
  '₹63,999',
  '₹79,900',
  '₹49,900',
  '₹54,900',
  '₹54,900',
  '₹59,900',
  '₹70,900',
  '₹84,900',
  '₹49,900',
  '₹54,900',
  '₹89,900',
  '₹63,999',
  '₹79,900',
  '₹49,900',
  '₹54,900',
  '₹54,900',
  '₹59,900',
  '₹63,999',
  '₹79,900'],
 'rule_50bn': ['New Apple iPhone 11 (64GB) - Black',
  'New Apple iPhone 12 (128GB) - Blue',
  'New Apple iPhone 12 (128GB) - Black',
  'New Apple iPhone 12 Pro Max (128GB) - Pacific Blue',
  'New Apple iPhone 11 (64GB) - White',
  'New Apple iPhone 12 (64GB) - Black',
  'New Apple iPhone 11 (64GB) - Purple',
  'New Apple iPhone 11 (128GB) - White',
  'New Apple iPhone 12 (128GB) - Purple',
  'New Apple iPhone 11 (64GB) - (Product) RED',
  'Apple iPhone 13 (256GB) - Midnight',
  'New Apple iPhone 12 (64GB) - Blue',
  'New Apple iPhone 11 (64GB) - Green',
  'New Apple iPhone 11 (128GB) - (Product) RED',
  'New Apple iPhone 12 (64GB) - White'],
 'rule_9fgj': ['New Apple iPhone 11 (64GB) - Black',
  'New Apple iPhone 12 (128GB) - Blue',
  'New Apple iPhone 12 (128GB) - Black',
  'New Apple iPhone 12 Pro Max (128GB) - Pacific Blue',
  'New Apple iPhone 11 (64GB) - White',
  'New Apple iPhone 12 (64GB) - Black',
  'New Apple iPhone 11 (64GB) - Purple',
  'New Apple iPhone 11 (128GB) - White',
  'New Apple iPhone 12 (128GB) - Purple',
  'New Apple iPhone 11 (64GB) - (Product) RED',
  'Apple iPhone 13 (256GB) - Midnight',
  'New Apple iPhone 12 (64GB) - Blue',
  'New Apple iPhone 11 (64GB) - Green',
  'New Apple iPhone 11 (128GB) - (Product) RED',
  'New Apple iPhone 12 (64GB) - White'],
 'rule_e39i': ['₹49,900',
  '₹54,900',
  '₹68,999',
  '₹84,900',
  '₹68,999',
  '₹84,900',
  '₹1,09,999',
  '₹1,29,900',
  '₹49,900',
  '₹54,900',
  '₹63,999',
  '₹79,900',
  '₹49,900',
  '₹54,900',
  '₹54,900',
  '₹59,900',
  '₹70,900',
  '₹84,900',
  '₹49,900',
  '₹54,900',
  '₹89,900',
  '₹63,999',
  '₹79,900',
  '₹49,900',
  '₹54,900',
  '₹54,900',
  '₹59,900',
  '₹63,999',
  '₹79,900'],
 'rule_ef90': ['₹49,900',
  '₹54,900',
  '₹68,999',
  '₹84,900',
  '₹68,999',
  '₹84,900',
  '₹1,09,999',
  '₹1,29,900',
  '₹49,900',
  '₹54,900',
  '₹63,999',
  '₹79,900',
  '₹49,900',
  '₹54,900',
  '₹54,900',
  '₹59,900',
  '₹70,900',
  '₹84,900',
  '₹49,900',
  '₹54,900',
  '₹89,900',
  '₹63,999',
  '₹79,900',
  '₹49,900',
  '₹54,900',
  '₹54,900',
  '₹59,900',
  '₹63,999',
  '₹79,900'],
 'rule_kgm6': ['₹49,900',
  '₹54,900',
  '₹68,999',
  '₹84,900',
  '₹68,999',
  '₹84,900',
  '₹1,09,999',
  '₹1,29,900',
  '₹49,900',
  '₹54,900',
  '₹63,999',
  '₹79,900',
  '₹49,900',
  '₹54,900',
  '₹54,900',
  '₹59,900',
  '₹70,900',
  '₹84,900',
  '₹49,900',
  '₹54,900',
  '₹89,900',
  '₹63,999',
  '₹79,900',
  '₹49,900',
  '₹54,900',
  '₹54,900',
  '₹59,900',
  '₹63,999',
  '₹79,900'],
 'rule_l9az': ['₹49,900',
  '₹54,900',
  '₹68,999',
  '₹84,900',
  '₹68,999',
  '₹84,900',
  '₹1,09,999',
  '₹1,29,900',
  '₹49,900',
  '₹54,900',
  '₹63,999',
  '₹79,900',
  '₹49,900',
  '₹54,900',
  '₹54,900',
  '₹59,900',
  '₹70,900',
  '₹84,900',
  '₹49,900',
  '₹54,900',
  '₹89,900',
  '₹63,999',
  '₹79,900',
  '₹49,900',
  '₹54,900',
  '₹54,900',
  '₹59,900',
  '₹63,999',
  '₹79,900'],
 'rule_pus2': ['₹49,900',
  '₹54,900',
  '₹68,999',
  '₹84,900',
  '₹68,999',
  '₹84,900',
  '₹1,09,999',
  '₹1,29,900',
  '₹49,900',
  '₹54,900',
  '₹63,999',
  '₹79,900',
  '₹49,900',
  '₹54,900',
  '₹54,900',
  '₹59,900',
  '₹70,900',
  '₹84,900',
  '₹49,900',
  '₹54,900',
  '₹89,900',
  '₹63,999',
  '₹79,900',
  '₹49,900',
  '₹54,900',
  '₹54,900',
  '₹59,900',
  '₹63,999',
  '₹79,900'],
 'rule_tosb': ['₹49,900',
  '₹54,900',
  '₹68,999',
  '₹84,900',
  '₹68,999',
  '₹84,900',
  '₹1,09,999',
  '₹1,29,900',
  '₹49,900',
  '₹54,900',
  '₹63,999',
  '₹79,900',
  '₹49,900',
  '₹54,900',
  '₹54,900',
  '₹59,900',
  '₹70,900',
  '₹84,900',
  '₹49,900',
  '₹54,900',
  '₹89,900',
  '₹63,999',
  '₹79,900',
  '₹49,900',
  '₹54,900',
  '₹54,900',
  '₹59,900',
  '₹63,999',
  '₹79,900'],
 'rule_vnl0': ['₹49,900',
  '₹54,900',
  '₹68,999',
  '₹84,900',
  '₹68,999',
  '₹84,900',
  '₹1,09,999',
  '₹1,29,900',
  '₹49,900',
  '₹54,900',
  '₹63,999',
  '₹79,900',
  '₹49,900',
  '₹54,900',
  '₹54,900',
  '₹59,900',
  '₹70,900',
  '₹84,900',
  '₹49,900',
  '₹54,900',
  '₹89,900',
  '₹63,999',
  '₹79,900',
  '₹49,900',
  '₹54,900',
  '₹54,900',
  '₹59,900',
  '₹63,999',
  '₹79,900'],
 'rule_xmso': ['₹49,900',
  '₹54,900',
  '₹68,999',
  '₹84,900',
  '₹68,999',
  '₹84,900',
  '₹1,09,999',
  '₹1,29,900',
  '₹49,900',
  '₹54,900',
  '₹63,999',
  '₹79,900',
  '₹49,900',
  '₹54,900',
  '₹54,900',
  '₹59,900',
  '₹70,900',
  '₹84,900',
  '₹49,900',
  '₹54,900',
  '₹89,900',
  '₹63,999',
  '₹79,900',
  '₹49,900',
  '₹54,900',
  '₹54,900',
  '₹59,900',
  '₹63,999',
  '₹79,900']}

In [20]:
scraper.set_rule_aliases({"rule_359f" : "Price", "rule_50bn" : "Title" })
scraper.keep_rules(["rule_50bn", "rule_359f"])
scraper.save('Amazon_search')

In [22]:
result = scraper.get_result_similar('https://www.amazon.in/s?k=mi+phone&crid=20RDH8R4SD8PL&sprefix=mi+%2Caps%2C298&ref=nb_sb_ss_ts-doa-p_5_3', group_by_alias=True)

In [34]:
result["Title"]

['Redmi 9A (Nature Green, 2GB RAM, 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery',
 'Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage) | 2.3GHz Mediatek Helio G35 Octa core Processor',
 'Redmi Note 10 (Aqua Green, 4GB RAM, 64GB Storage) -Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 Processor',
 'Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) | 2.3GHz Mediatek Helio G35 Octa core Processor',
 'Redmi 2GB RAM, 16GB Storage Mi 6A, Black',
 'Redmi 9A(Midnight Black 3GB RAM 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery',
 'Redmi 9A (Nature Green, 3GB Ram, 32GB Storage) | 2GHz Octa-core Helio G25 Processor',
 'Redmi 9A (Sea Blue 2GB RAM 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery',
 'Redmi 9 Power (Electric Green, 4GB RAM, 64GB Storage) - 6000mAh Battery |FHD+ Screen| 48MP Quad Camera | Alexa Hands-Free ...',
 'Mi 10i 5G (Atlantic Blue, 6GB RAM, 128GB Storage) - 108MP Quad Camera | Snapdragon 750G Processor',
 'Redmi 9 Power (Blazing Blue, 4GB RAM, 64GB Storage) - 6000mAh Battery |FHD+ Screen| 48MP Quad Camera | Alexa Hands-Free Ca...',
 'Redmi 9A (Midnight Black, 2GB RAM, 32GB Storage) | 2GHz Octa-Core Helio G25 Processor',
 'Redmi Note 10 (Frost White, 4GB RAM, 64GB Storage) - Super Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 P...',
 'Redmi Note 10S (Frost White, 6GB RAM, 128GB) - Super Amoled Display | 64 MP Quad Camera |NCEMI Offer on HDFC Cards | 6 Mon...',
 'Mi Redmi 6A (Gold, 2GB RAM, 16GB Storage)',
 'Redmi 9 Prime (Mint Green, 4GB RAM, 64GB Storage)- Full HD+ Display & AI Quad Camera']

In [35]:
result["Price"]

['₹6,999',
 '₹8,499',
 '₹9,499',
 '₹10,999',
 '₹13,999',
 '₹15,999',
 '₹9,499',
 '₹10,999',
 '₹6,999',
 '₹7,999',
 '₹9,499',
 '₹7,999',
 '₹6,999',
 '₹8,499',
 '₹11,499',
 '₹13,999',
 '₹21,999',
 '₹24,999',
 '₹11,499',
 '₹13,999',
 '₹6,999',
 '₹13,999',
 '₹15,999',
 '₹16,499',
 '₹18,999',
 '₹6,990',
 '₹10,499',
 '₹11,999']

In [47]:
import pandas as pd
import numpy as np

In [61]:
Title = pd.DataFrame(result["Title"])
Title

                                                    0
0   Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...
1   Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage) | 2....
2   Redmi Note 10 (Aqua Green, 4GB RAM, 64GB Stora...
3   Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) ...
4            Redmi 2GB RAM, 16GB Storage Mi 6A, Black
5   Redmi 9A(Midnight Black 3GB RAM 32GB Storage) ...
6   Redmi 9A (Nature Green, 3GB Ram, 32GB Storage)...
7   Redmi 9A (Sea Blue 2GB RAM 32GB Storage) | 2GH...
8   Redmi 9 Power (Electric Green, 4GB RAM, 64GB S...
9   Mi 10i 5G (Atlantic Blue, 6GB RAM, 128GB Stora...
10  Redmi 9 Power (Blazing Blue, 4GB RAM, 64GB Sto...
11  Redmi 9A (Midnight Black, 2GB RAM, 32GB Storag...
12  Redmi Note 10 (Frost White, 4GB RAM, 64GB Stor...
13  Redmi Note 10S (Frost White, 6GB RAM, 128GB) -...
14          Mi Redmi 6A (Gold, 2GB RAM, 16GB Storage)
15  Redmi 9 Prime (Mint Green, 4GB RAM, 64GB Stora...

In [55]:
Price = pd.DataFrame(result['Price'])
Price

          0
0    ₹6,999
1    ₹8,499
2    ₹9,499
3   ₹10,999
4   ₹13,999
5   ₹15,999
6    ₹9,499
7   ₹10,999
8    ₹6,999
9    ₹7,999
10   ₹9,499
11   ₹7,999
12   ₹6,999
13   ₹8,499
14  ₹11,499
15  ₹13,999
16  ₹21,999
17  ₹24,999
18  ₹11,499
19  ₹13,999
20   ₹6,999
21  ₹13,999
22  ₹15,999
23  ₹16,499
24  ₹18,999
25   ₹6,990
26  ₹10,499
27  ₹11,999